
#cloud-pic {
    display: block;
    z-index: -1;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    opacity: 0.7;
}


#name-header {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 4em;
    font-size: 5em;

}

#job-header {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 0.5em;
    /*font-size: ;*/
}



#contact-button {
    /*justify-content: center;*/
    display: flex;
    justify-content: center;
    margin: 3em auto 30em auto;
    background-color: aliceblue;
    width: fit-content;
    padding: 1em;

}

#audio {
    display: none;
    align-items: flex-end;
}


#background {
    background-color: lightgray;
}